.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-pref-width: 0;
    -fx-max-width: 0;
}

.scroll-pane * {
    -fx-background-color: transparent;
}

.searchList, .downloadList {
    -fx-background-color: transparent;
}

.combo-box * {
    -fx-text-fill: white;
}

.list-cell:selected {
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-text-fill: #000000;
}


.text-input {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: gray;
}


.button {
    -fx-text-fill: white;
}